.cube-doll {
    background-color: #927354;
    display: block;
    position: relative;
    border: 1px solid #000;
    border-radius: 4px;
    width: 365px;
    height: 200px;
}


.cube-slot {
    width: 115px;
    height: 190px;
    position: absolute;
    z-index: 1;
    top: 5px;
}
.cube-item-1 {
    left: 5px;
    background-image: url("../gfx/inventory/Weapon-Empty.png");
}
.cube-item-2 {
    left: 125px;
    background-image: url("../gfx/inventory/Armor-Empty.png");
}
.cube-item-3 {
    left: 245px;
    background-image: url("../gfx/inventory/Jewelry-Empty.png");
}
.cube-item-1.is-active,
.cube-item-2.is-active,
.cube-item-3.is-active {
    background-image: url("../gfx/inventory/Active-Default.png");
}
.cube-item-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 115px;
    height: 190px;
}
.cube-item-align {
    display: inline-block;
    vertical-align: middle;
}






