.paper-doll {
    display: block;
    width: 305px;
    height: 425px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #927354;
    background-repeat: no-repeat;
    background-position: -475px -155px;
    position: relative;
}

.paper-doll.barbarian-0 { background-image: url("../gfx/inventory/barbarian-0.jpg"); }
.paper-doll.barbarian-1 { background-image: url("../gfx/inventory/barbarian-1.jpg"); }
.paper-doll.crusader-0 { background-image: url("../gfx/inventory/crusader-0.jpg"); }
.paper-doll.crusader-1 { background-image: url("../gfx/inventory/crusader-1.jpg"); }
.paper-doll.monk-0 { background-image: url("../gfx/inventory/monk-0.jpg"); }
.paper-doll.monk-1 { background-image: url("../gfx/inventory/monk-1.jpg"); }
.paper-doll.demon-hunter-0 { background-image: url("../gfx/inventory/demon-hunter-0.jpg"); }
.paper-doll.demon-hunter-1 { background-image: url("../gfx/inventory/demon-hunter-1.jpg"); }
.paper-doll.necromancer-0 { background-image: url("../gfx/inventory/necromancer-0.jpg"); }
.paper-doll.necromancer-1 { background-image: url("../gfx/inventory/necromancer-1.jpg"); }
.paper-doll.witch-doctor-0 { background-image: url("../gfx/inventory/witch-doctor-0.jpg"); }
.paper-doll.witch-doctor-1 { background-image: url("../gfx/inventory/witch-doctor-1.jpg"); }
.paper-doll.wizard-0 { background-image: url("../gfx/inventory/wizard-0.jpg"); }
.paper-doll.wizard-1 { background-image: url("../gfx/inventory/wizard-1.jpg"); }


.item-white {
    border-color: #6091a6;
    background-color: #232227;
    background-image: url("../gfx/inventory/brown.png");
}

.item-blue {
    border-color: #513f2e;
    background-color: #2a2017;
    background-image: url("../gfx/inventory/blue.png");
}

.item-yellow {
    border-color: #9b8e3c;
    background-color: #322914;
    background-image: url("../gfx/inventory/yellow.png");
}

.item-orange {
    border-color: #b07b38;
    background-color: #332314;
    background-image: url("../gfx/inventory/orange.png");
}

.item-green {
    border-color: #748e3d;
    background-color: #262f14;
    background-image: url("../gfx/inventory/green.png");
    
}

.item-disabled-2h {
/*    border-color: #748e3d;
    background-color: #262f14;*/
    border: none !important;
    box-shadow: none !important;
    background-image: url("../gfx/inventory/disabled-offhand.gif");
    
}
.item-disabled-2h img {
    opacity: 0.3;
}





.gear-slot {
    display: block;
    box-shadow: 0 0 9px rgba(0,0,0,0.09), 0 2px 5px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
}

.gear-slot-gradient {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.center-frame {
    display: block;
    position: absolute;
}

.item-content-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.item-content {
    display: block;
}

.item-title {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;    
}



/*center frame and its child needs dimensions 3 times of the parent - 3px*/
.gear-slot.gear-slot-head {   width: 66px;    height: 66px;   top: 4px;    left: 120px; }
.gear-slot-head .center-frame {   width: 195px;   height: 195px;  margin-left: -66px;  margin-top: -66px; }
.gear-slot-head .item-content-cell {   width: 195px;   height: 195px; }
.gear-slot-head .item-title {   width: 66px;    height: 66px; }

.gear-slot.gear-slot-torso           {   width: 82px;    height: 115px;   top: 74px;    left: 112px; }
.gear-slot-torso .center-frame       {   width: 243px;   height: 342px;   margin-left: -82px;  margin-top: -115px; }
.gear-slot-torso .item-content-cell  {   width: 243px;   height: 342px; }

.gear-slot.gear-slot-feet           {   width: 66px;    height: 88px;   top: 323px;    left: 120px; }
.gear-slot-feet .center-frame       {   width: 195px;   height: 261px;  margin-left: -66px;  margin-top: -88px; }
.gear-slot-feet .item-content-cell  {   width: 195px;   height: 261px; }

.gear-slot.gear-slot-hands           {   width: 66px;    height: 88px;   top: 127px;    left: 12px; }
.gear-slot-hands .center-frame       {   width: 195px;   height: 261px;  margin-left: -66px;  margin-top: -88px; }
.gear-slot-hands .item-content-cell  {   width: 195px;   height: 261px; }

.gear-slot.gear-slot-shoulders           {   width: 66px;    height: 88px;   top: 28px;    left: 38px; }
.gear-slot-shoulders .center-frame       {   width: 195px;   height: 261px;  margin-left: -66px;  margin-top: -88px; }
.gear-slot-shoulders .item-content-cell  {   width: 195px;   height: 261px; }

.gear-slot.gear-slot-legs           {   width: 66px;    height: 88px;   top: 231px;    left: 120px; }
.gear-slot-legs .center-frame       {   width: 195px;   height: 261px;  margin-left: -66px;  margin-top: -88px; }
.gear-slot-legs .item-content-cell  {   width: 195px;   height: 261px; }

.gear-slot.gear-slot-bracers           {   width: 66px;    height: 88px;   top: 127px;    left: 228px; }
.gear-slot-bracers .center-frame       {   width: 195px;   height: 261px;  margin-left: -66px;  margin-top: -88px; }
.gear-slot-bracers .item-content-cell  {   width: 195px;   height: 261px; }

.gear-slot.gear-slot-mainHand           {   width: 66px;    height: 130px;   top: 282px;    left: 12px; }
.gear-slot-mainHand .center-frame       {   width: 195px;   height: 387px;  margin-left: -66px;  margin-top: -130px; }
.gear-slot-mainHand .item-content-cell  {   width: 195px;   height: 387px; }

.gear-slot.gear-slot-offHand           {   width: 66px;    height: 130px;   top: 282px;    left: 228px; }
.gear-slot-offHand .center-frame       {   width: 195px;   height: 387px;  margin-left: -66px;  margin-top: -130px; }
.gear-slot-offHand .item-content-cell  {   width: 195px;   height: 387px; }

.gear-slot.gear-slot-waist           {   width: 82px;    height: 34px;   top: 193px;    left: 112px; }
.gear-slot-waist .center-frame       {   width: 243px;   height: 99px;  margin-left: -82px;  margin-top: -34px; }
.gear-slot-waist .item-content-cell  {   width: 243px;   height: 99px; }

.gear-slot.gear-slot-rightFinger           {   width: 42px;    height: 42px;   top: 227px;    left: 240px; }
.gear-slot-rightFinger .center-frame       {   width: 123px;   height: 123px;  margin-left: -42px;  margin-top: -42px; }
.gear-slot-rightFinger .item-content-cell  {   width: 123px;   height: 123px; }

.gear-slot.gear-slot-leftFinger           {   width: 42px;    height: 42px;   top: 227px;    left: 24px; }
.gear-slot-leftFinger .center-frame       {   width: 123px;   height: 123px;  margin-left: -42px;  margin-top: -42px; }
.gear-slot-leftFinger .item-content-cell  {   width: 123px;   height: 123px; }

.gear-slot.gear-slot-neck           {   width: 56px;    height: 56px;   top: 48px;    left:204px; }
.gear-slot-neck .center-frame       {   width: 165px;   height: 165px;  margin-left: -56px;  margin-top: -56px; }
.gear-slot-neck .item-content-cell  {   width: 165px;   height: 165px; }




.socket {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../gfx/inventory/skill-overlays.png) 0 -71px no-repeat;
    opacity: 0.8;
}

.socket img {
    margin: 6px auto 0;
    width: 20px;
    height: 20px;
}

