.skill {
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: rgba(200,200,0,0.5);
    margin: 1px 0px 1px 0px;
    background-color: #927354;
    position: relative;
    max-width: 200px;
}

.skill-title {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.skill-title:hover {
    border-color: #cccc66;
}

.a-skill-image {
    position: relative;
    display: block;
}

.a-skill-name, .a-skill-rune, .p-skill-name {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 100%;
    color: #000;
}

.a-skill-name {
    padding: 2px 10px 0px 50px;
}

.a-skill-rune {
    font-size: 70%;
    padding: 22px 10px 0px 50px;
}

.p-skill-name {
    padding: 10px 10px 0px 50px;
}

.p-skill-frame {
    background: url(../gfx/passive-skills.png) 0 -41px no-repeat;
    display: inline-block;
    width: 41px;
    height: 41px;
    padding: 5px;
    vertical-align: middle;    
}

.p-skill-frame img {
    width: 32px;
    height: 32px;
}